.vc_custom_1450260545722 {
    margin-bottom: 155px!important;
}
.booking-contentmh{
    padding-left: 70px;
}

#wr-toolbar .toolbar-scroll{
    background-color: #ddebf0;
}
#wr-toolbar .booking-title{
    font-family: "Oswald",sans-serif;
    font-size:30px;
    letter-spacing: 4px;
    font-weight:700;
}